* {
  /* universal memungkinkan semua tag yang ada di dalam html terpengaruh  dengan css universal*/
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXBQYcRmL4oyksN5ywx2ZvBXFTvaYL4_xx4g&usqp=CAU");
  background-repeat: no-repeat;
  background-position: center center;
  padding: 20px;
  background-size: cover;
  text-align: center;
  color: white;
}

.navbar {
  background-color: orange;
  overflow: hidden;
  justify-content: center;
  display: flex;
}

.navbar a {
  float: left;
  display: block;
  text-decoration: none;
  padding: 14px 16px;
  text-align: center;
}

.navbar a:hover {
  background-color: aliceblue;
  color: black;
}

.column {
  float: left;
  padding: 10px;
}

.column.side {
  width: 25%;
}

.column.middle {
  width: 50%;
}

.row::after {
  content: "";
  display: table;
  /* bisa juga pakai display block */
  clear: both;
  /* untuk membersihkan float left sebelumnya */
}

.footer {
  background-color: orange;
  padding: 10px;
  text-align: center;
}
