body {
  background-color: lightgray;
}

.main {
  background-color: lightgray;
}

/* header.html CSS START */
.header {
  height: auto;
  width: 100%;
}

/* footer.html CSS START */
.footer {
  background-color: peachpuff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: black;
}

/* left.html CSS START */
.left {
  background-color: peachpuff;
  border-radius: 0.2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 2);
}

legend {
  padding: 1rem 0;
  text-align: center;
  font-size: 1.2rem;
}

ul {
  list-style-type: none;
  padding: 0rem 1rem 1rem;
  margin: 0.2rem;
  text-align: center;
}

li a {
  display: block;
  color: black;
  text-decoration: none;
}

li a:hover {
  color: white;
}

/* right.html CSS START */
.right {
  background-color: peachpuff;
  border-radius: 0.2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 2);
}

legend {
  padding: 1rem 0;
  text-align: center;
  font-size: 1.2rem;
}

ul {
  list-style-type: none;
  /* ukuran pertama atas, ukuran kedua kiri dan kanan, ukuran ketiga bawah (padding) */
  padding: 0rem 1rem 1rem;
  margin: 0.2rem;
  text-align: center;
}

li a {
  display: block;
  color: black;
  text-decoration: none;
}

li a:hover {
  color: white;
}

.gallery a.hover {
  height: 70px;
  width: 120px;
}
